<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message} ${exception:format=tostring}"
            fileName="${specialfolder:folder=LocalApplicationData}/ArxBuh/log.txt"
            archiveFileName="${specialfolder:folder=LocalApplicationData}/ArxBuh/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="dd.MM.yyyy"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="info"/>
  </rules>
</nlog>